.navbar{
    overflow: hidden;
}

.navbar {
    position: fixed;
    top:0;
    right:0;
    width: 100%;
    float:right;
    display: flex;
    justify-content: flex-end;
    color:white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20px;
    z-index: 1000;
    background-color: rgb(6, 47, 65);
}

.navbar a {
    background-color: transparent;
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }

.navbar a:hover {
    color:aqua;
}


body, html{
    height: 100%;
    background-color:rgb(6, 47, 65);
    scroll-behavior: smooth;
}
.b_image{
    background-image: radial-gradient(circle, rgba(6, 47, 65,0.25) 0%,rgba(6, 47, 65,1) 100%), url("img1.jpg");
    margin-top: 5%;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}

.image_text{
    text-align: left;
    font-size: 20px;
    position: absolute;
    top: 50%;
    margin-left: 35%;
    margin-right: 30%;
    transform: translate(-50%,-50%);
    color: white;
}

.image_text button{
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.image_text button:hover{
    color: aqua;
    background-color: rgb(6, 47, 65,0.2);
    font-size: 26px;
}

.about_sec{
    text-align: center;
    color: white;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: 18%;
    margin-right: 18%;
    font-size: 20px;

    /* padding-bottom: 50%; */
}

.work-sec{
    color: white;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: 10%;
    margin-right: 8%;
    font-size: 20px;
}

.contact {
    box-sizing: border-box;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: 25%;
    margin-right: 25%;
    color: white;
    font-size: 18px;
}


input[type=text], select, textarea{
    width: 90%;
    padding: 12px;
    border: 2px solid black;
    border-radius: 7px;;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 15px;
}

input[type=submit]:hover {
    background-color: gray;
    color: black;
    transition: all 0.2s ease;
}

.footer{
    width:100%;
    height: 15%;
    background-color: rgb(31, 31, 31);
    color: white;
    text-align: center;
}